<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <link rel="stylesheet" href="/css/admin.css" />
      <title>About</title>
    {% endblock %}
  </head>
  <body>
    {% include 'header.html.twig' %}
    <div class="page about">
      <h3>About</h3>
      <div class="row">
        <span>This site is created using the jsvascript programming language. As the database I used MongoDb, NodeJs on backend.</span>
      </div>
      <div class="row clearfix">
        <img src="https://webassets.mongodb.com/_com_assets/global/mongodb-logo-white.png"/>
        <p>MongoDB is a free and open-source cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with schemas. MongoDB is developed by MongoDB Inc., and is published under a combination of the GNU Affero General Public License and the Apache License.</p>
      </div>
      <div class="row clearfix">
        <img src="https://nodejs.org/static/images/logo.svg"/>
        <p>Node.js is an open-source, cross-platform JavaScript run-time environment for executing JavaScript code server-side. Historically, JavaScript was used primarily for client-side scripting, in which scripts written in JavaScript are embedded in a webpage's HTML, to be run client-side by a JavaScript engine in the user's web browser. Node.js enables JavaScript to be used for server-side scripting, and runs scripts server-side to produce dynamic web page content before the page is sent to the user's web browser. Consequently, Node.js has become one of the foundational elements of the "JavaScript everywhere" paradigm, allowing web application development to unify around a single programming language, rather than rely on a different language for writing server side scripts.</p>
      </div>
      <div class="row clearfix">
        <img src="http://codewebsolution.com.ua/sites/default/files/field/image/icon.jpg"/>
        <p>Twig is a template engine for the PHP programming language. Its syntax originates from Jinja and Django templates. It's an open source product licensed under a BSD License and maintained by Fabien Potencier. The initial version was created by Armin Ronacher. Symfony2 PHP framework comes with a bundled support for Twig as its default template engine.</p>
      </div>
      <div class="row clearfix">
        <img src="https://mlab.com/base/img/mLab-logo-dark.svg"/>
        <p>Trusted. Loved. Most widely deployed. mLab is the leading Database-as-a-Service for MongoDB, powering over half a million deployments worldwide.</p>
      </div>
    </div>
    {% include 'footer.html.twig' %}
  </body>
</html>
