<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <link rel="stylesheet" href="/css/admin.css" />
      <title>Administration</title>
    {% endblock %}
  </head>
  <body>
    {% include 'header.html.twig' %}
    <div class="page">
      {% if message %}<h3 class="message">{{ message }}</h3>{% endif %}
      {% if operation == 'view' %}
        <h3>View</h3>
        <form name="main" method="POST" action="/admin/add/new">
          <div class="table">
            <div class="row header">
              <div class="left col-80"><span>Question</span></div>
              <div class="right align-center col-10"><span>Level</span></div>
              <div class="right align-center col-10"><span>Operation</span></div>
            </div>
            {% for question in data %}
            <div class="row">
              <div class="left col-80">{{ question.question|e }}</div>
              <div class="right col-10 align-center">{{ question.level }}</div>
              <div class="right col-10 align-center">
                <a href="/admin/edit/{{ question._id }}">Edit</a> 
                <a href="/admin/remove/{{ question._id }}">Delete</a>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="bottom">
            <input type="submit" name="submit" value="Add" />
            <a href="/">Back</a>
          </div>
        </form>
      {% endif %}
      {% if operation in ['add', 'edit'] %} 
        <h3>{% if data._id %} Edit {% else %} Add {% endif %}</h3>
        <form name="main" method="POST" action="/admin/save/{{ data._id }}">
          <div class="table">
            <div class="row">
              <div class="col-100">
                <div>Question:</div>
                <textarea name="question">{{ data.question|e }}</textarea>
              </div>
            </div>
            <div class="row">
              <div class="left col-90"><span class="level">Difficulty level</span></div>
              <div class="right col-10 align-center">
                <select name="level">
                  {% for i in 1 .. 20 %}
                    <option value="{{i}}"{% if data.level == i%} selected {% endif %}>{{i}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="row header">
              <div class="left col-90"><span>Answer</span></div>
              <div class="right col-10"><span>Correct</span></div>
            </div>
            {% for key, answer in data.answer %}
              <div class="row">
                <div class="left col-90">
                  <input type="text" name="answer" value="{{ answer|e }}" />
                </div>
                <div class="right col-10">
                  <select name="correct_answer">
                    <option value="0" {% if not data.correct_answer[key] %} selected {% endif %}>No</option>
                    <option value="1" {% if data.correct_answer[key] %} selected {% endif %}>Yes</option>
                  </select>
                </div>
              </div>
            {% endfor %}
            <div class="row">
              <div class="left col-90"><span class="level">Created</span></div>
              <div class="right col-10 align-center">{{ data.created|date("m/d/Y H:i:s", "Europe/Athen") }}</div>
            </div>
            <div class="row">
              <div class="left col-90"><span class="level">Updated</span></div>
              {% if data.changed %}
                <div class="right col-10 align-center">{{ data.changed|date("m/d/Y H:i:s", "Europe/Athen") }}</div>
              {% else %}
                <div class="right col-10 align-center">-</div>
              {% endif %}
            </div>
            <div class="bottom">
              <input type="submit" name="submit" value="Save" />
              <a href="/admin/view">Cancel</a>
            </div>
          </div>
        </form>
      {% endif %}
   </div>
  {% include 'footer.html.twig' %}
  </body>
</html>
