<div class="logo">
  <img src="https://mlab.com/base/img/mLab-logo-dark.svg"/>
</div>
<ul class="nav">
  <li><a href="/" {% if page == 'home' %} class="active" {% endif %}>Home</a></li>
  <li><a href="/about" {% if page == 'about' %} class="active" {% endif %}>About</a></li>
  <li><a href="/score/list" {% if page == 'score' %} class="active" {% endif %}>Score</a></li>
  <li><a href="/admin/view" {% if page == 'admin' %} class="active" {% endif %}>Admin</a></li>
</ul>
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  {% if page == 'about' %}<li>{% if operation %}<a href="/about">About</a>{% else %}About{% endif %}</li>{% endif %}
  {% if page == 'score' %}<li>{% if operation %}<a href="/score/list">Score</a>{% else %}Score{% endif %}</li>{% endif %}
  {% if page == 'admin' %}<li>{% if operation %}<a href="/admin/view">Admin</a>{% else %}Admin{% endif %}</li>{% endif %}
  {% if operation %}<li>{{ operation|capitalize }}</li>{% endif %}
</ul>