<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <link rel="stylesheet" href="/css/admin.css" />
      <title>Start</title>
    {% endblock %}
  </head>
  <body>
    {% include 'header.html.twig' %}
    <div class="page">
      <h3>New game</h3>
      {% if message %}<h3 class="message">{{ message }}</h3>{% endif %}
      <form name="main" method="POST" action="/game/new/start">
        <label>Enter name:<input type="text" name="name" class="textfield" value="" /></label>
        <input type="submit" name="submit" value="Start" />
      </form>
    </div>
    {% include 'footer.html.twig' %}
  </body>
</html>
