<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <link rel="stylesheet" href="/css/admin.css" />
      <title>Game</title>
    {% endblock %}
  </head>
  <body>
    {% include 'header.html.twig' %}
    <div class="page">
      <h3> Question # {{ step }}:</h3>
      {% if message %}<h3 class="message">{{ message }}</h3>{% endif %}
      <form name="play" method="POST" action="/game/{{ gameId }}/save/{{ step }}">
        <div class="table">
          <input type="hidden" name="_id" value="{{ question._id}}"/>
          <input type="hidden" name="step" value="{{ step }}"/>
          <div class="row">
            <div class="col-100">
              <textarea name="question">{{ question.question|e }}</textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-100">
              <label>Select correct answer(s):</label>
            </div>
            {% for key, answer in question.answer %}
              <div class="col-100">
                <input name="result" type="checkbox" value="{{ key }}"> {{ answer|e }} </input>
              </div>    
          {% endfor %}
          </div>
          <div class="bottom">
            <input type="submit" value="Next" />
            <a href="/">Start new game</a>
          </div>
        </div>
      </form>
    </div>
    {% include 'footer.html.twig' %}
  </body>
</html>
