<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <link rel="stylesheet" href="/css/admin.css" />
      <title>Administration</title>
    {% endblock %}
  </head>
  <body>
    {% include 'header.html.twig' %}
    <div class="page">
      {% if operation == 'list' %}
        <h3>Results list</h3>
        {% if message %}<h3 class="message">{{ message }}</h3>{% endif %}
        <form method="GET" action="/">
          <div class="table">
            <div class="row header">
              <div class="col-20 left">User</div>
              <div class="col-20 left">Start date</div>
              <div class="col-20 left">End date</div>
              <div class="col-20 left">Score</div>
              <div class="col-20 left">Opperation</div>
            </div>
            {% for game in data %}
            <div class="row">
              <div class="col-20 left">{{ game.userName|e }}</div>
              <div class="col-20 left">{{ game.startDate|date("m/d/Y H:i:s", "Europe/Athen") }}</div>
              <div class="col-20 left">{{ game.endDate|date("m/d/Y H:i:s", "Europe/Athen") }}</div>
              <div class="col-20 left">{{ game.score }}</div>
              <div class="col-20 left"><a href="/score/view/{{ game._id }}">View</a> | <a href="/score/remove/{{ game._id }}">Delete</a></div>
            </div>
            {% endfor %}
          </div>
          <div class="bottom">
            <input type="submit" name="submit" value="New" />
            <a href="/">Back</a>
          </div>
        </form>
      {% endif %}
      {% if operation == 'view' %}
        <h3>View results</h3>
        <form method="GET" action="/">
          <div class="table">
            <div class="row header">
              <div class="col-40 left">Question</div>
              <div class="col-25 left">User's answer</div>
              <div class="col-10 left">Correct</div>            
              <div class="col-25 left">Correct answer</div>
            </div>
            {% for result in results %}
            <div class="row">
              <div class="col-40 left"><textarea>{{ result.question|e }}</textarea></div>
              <div class="col-25 left"><textarea>{{ result.answer|e }}</textarea></div>
              <div class="col-10 left"><textarea>{{ result.isCorrect }}</textarea></div>
              <div class="col-25 left"><textarea>{{ result.correct_answer|e }}</textarea></div>
            </div>
            {% endfor %}
          </div>
          <div class="bottom">
            <input type="submit" name="submit" value="New" />
             <a href="/score/list">Back</a>
          </div>
        </form>
      {% endif %}
    </div>
    {% include 'footer.html.twig' %}
  </body>
</html>
