html, body, div, form, h1, h2, h3, h4, h5, h6, ol, p, ul {
  display: block;
  unicode-bidi: embed;
}
li {
  display: list-item
}
body {
  max-width: 900px;
  margin: 0 auto;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
h2 {
  font-size: 1.5em;
  margin: .75em 0;
}
h3 {
  font-size: 1.17em;
  margin: .83em 0;
}
h4, p, ul, form {
  margin: 1.12em 0;
}
h5 {
  font-size: .83em;
  margin: 1.5em 0;
}
h6 {
  font-size: .75em;
  margin: 1.67em 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: bolder;
}
button, textarea, input, select {
  display: inline-block;
}
ul {
  margin-left: 40px;
}
ul, ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
br:before {
  content: "\A";
  white-space: pre-line;
}
:link, :visited {
  text-decoration: underline;
}
:focus {
  outline: thin dotted invert;
}
@media print {
  h1 {
    page-break-before: always;
  }
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }
  ul, ol, dl {
    page-break-before: avoid;
  }
}

a, a:visited {
  color: black;
}
.message {
  color: #fff;
  background-color: red;
  font-size: 14px;
  padding: 15px;
  font-weight: 400;
}
.table {
  width: 100%;
  margin: 0;
}
.header {
  margin-top: 10px;
  height: 20px !important;
  background-color: #0275d8 !important;
  color: #ffffff;
  text-shadow: #0c0c0c 1px 1px 20px;
  padding: 15px 0 5px;
}
.row {
  width: 100%;
  min-height: 60px;
  margin: 10px 0;
  background-color: #fff;
}
.row > div {
  padding: 5px 0;
  text-indent: 5px;
}
.left {
  display: inline-block;
  min-height: 30px;
}
.right {
  display: inline-block;
  min-height: 30px;
}
.align-center {
  text-align: center;
}
textarea {
  width: 99%;
  padding: 15px 5px;
  margin: 0;
  border-width: 0px;
  font-weight: bold;
  font-size: 14px;
  resize: none;
}
input[type=text] {
  width: 100%;
  height: 27px;
  padding: 0;
  text-indent: 10px;
}
select {
  height: 31px;
  width: 90%;
  padding: 0;
  text-indent: 10px;
}
input[type=submit] {
  width: 150px;
  height: 35px;
  margin: 25px 25px 25px 0;
}
.level {
  padding-top: 5px;
}
.copyright {
  margin-top: 100px;
}
.col-10 {
  width: 8%;
  margin: 1%;
}
.col-20 {
  width: 16%;
  margin: 1%;
}
.col-25 {
  width: 21%;
  margin: 1%;
}
.col-40 {
  width: 36%;
  margin: 1%;
}
.col-80 {
  width: 76%;
  margin: 1%;
}
.col-90 {
  width: 86%;
  margin: 1%;
}
.col-100 {
  width: 98%;
  margin: 1%;
}
ul.nav {
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #333;
  list-style-type: none;
}
ul.nav li {
  display: inline-block;
}
ul.nav li a {
  display: block;
  padding: 15px 30px;
  color: #FFF;
  text-decoration: none;
}
ul.nav li a.active {
  background-color: #4CAF50;
}
ul.nav li a:hover:not(.active) {
  background-color: #000;
}
ul.breadcrumb {
  margin: 20px 0;
  padding: 0;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
form {
  background-color: #EAEAEA;
  padding: 5px;
  margin: 0;
}
.textfield {
  width: 30% !important;
}
.copyright {
  background-color: #242729;
  padding: 45px 0px;
  text-align: center;
  color: #FFF;
}
.page {
  min-height: 400px;
}
.about img {
  max-width: 400px;
  min-height: 150px;
  float: left;
  margin-right: 20px;
  background-color: #DADADA;
}
.about p {
  line-height: 22px;
}
.logo {
  background-color: rebeccapurple;
}
.clearfix {
  overflow: auto;
}